doctype html
html(lang='en')
  head
    title SJCam
    meta(charset="UTF-8")
    link(rel="stylesheet" type="text/css" href="css/index.css")
    link(href="https://fonts.googleapis.com/css?family=Cabin+Condensed:400,500,600,700|Catamaran:200,300,400,500,600,700" rel="stylesheet")
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js")
    script(src="jquery/index.js")
    
  body
    .page
      .menu
        .menu_img
          img(src="http://sjcamhd.com/wp-content/uploads/2016/05/logo_pantone_white_retina.png" alt="img")
          ul
            li#prod 
              a(href="product.html" target="_blank") Product
            li
              a(href="" target="_blank") Shop
            li
              a(href="https://www.youtube.com/channel/UCN0cNCYaPlp5wuWp82uoYFw" target="_blank") Channel
        .sub_menu
          .prod.one
            img.sub_menu_img#sub_menu_s4(src="http://sjcamhd.com/wp-content/uploads/2015/11/SJ4000-WIFI-7-1024x562.png" alt="img")
            p.name SJ4000 Series
          .prod.two
            img.sub_menu_img#sub_menu_s5(src="http://extremshop.hu/wp-content/uploads/2015/12/SJ5000X_03.png" alt="img")
            p.name Sj5000 Series
          .prod.three
            img.sub_menu_img#sub_menu_m10(src="http://sjcamhd.com/wp-content/uploads/2016/04/m.png" alt="img")
            p.name M10 Series
          .prod.four
            img.sub_menu_img#sub_menu_m20(src="https://sjcamhd.es/wp-content/uploads/2016/06/m20blog.png" alt="img")
            p.name SJ M20 Camera
          .prod.five
            img.sub_menu_img(src="http://goprobro.com/wp-content/uploads/2015/05/palos-gopro1-400x400.png" alt="img")
            p.name Accessories
      
      .intro
        video(id="my-video" class="video" autoplay="autoplay" loop="loop" muted="")
          source(src="video/Yolo.mp4" type="video/mp4")
        h3 INTRODUCING SJCAM
        h5 See life from a new perspective.
        a(href="product.html") See Our Product
      .product
        .product_img
          img(src="http://sjcamhd.com/wp-content/uploads/2016/02/camm.png" alt="img")
          h3 Meet the SJ Family
          h5 So simple. So powerful.
          a SHOP NOW
      .footer
        .product_foot
          ul
            li.title PRODUCT
            li SJ5000 Series
            li SJ4000 Series
            li M10 Series
            li SJCAM Accessories
        .support
          ul
            li.title FAQ
            li Help Desk
            li Update Camera Firmware
            li Shipping
            li Warranty
        .copyright
          p Copyright © 2016 SJCAMHD, All Rights Reserved
    
  